button {
  font-family: 'Montserrat', sans-serif;
  padding: 15px 25px;
  border: 0;
  font-weight: bold;
  color: rgb(35, 35, 35);
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.35s;
  margin: 10px;
}

button:hover {
  transform: scale3d(1.2, 0.9, 0.2);
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.194));
 
}

button:disabled {
 
  background-color: transparent;
}

